@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-5 m-4">Welcome</h1>
    <h3 class="mb-4">to</h3>
    <h2 class="mb-3">Store of Knowledge</h2>
    <img src="~/images/books.jpeg" alt="Alternate Text"  />
   
</div>
